# CMake-specific ignores:
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Operating System specific ignores:
.DS_Store

# Buildtool folders:
.cache/
build/

# Libraries:
*.so
*.a
*.dylib
*.lib
*.dll

# Executables:
xmake.exe
xmake
